<h1><%= "#{@user.username}'s Profile" %></h1>
<h2>Coding Roads:</h2>
<ul>
<% @roads.each do |road| %>
    <li><%= link_to road.name, road_path(road) %></li>
<% end %>
</ul>
<p> <%= link_to "Create A New Learning Road", new_road_path %></p>