<h1><%= "#{@user.username}'s Profile" %></h1>
<h2>Your Yellow Bit Roads:</h2>
<ul>
<% @roads.each do |road| %>
    <li><%= link_to road.name, user_road_path(road) %></li>
<% end %>
</ul>
<p> <%= link_to "Add A New Road", new_road_path %></p>