<h1>Edit <%= @road.name %></h1>
<%= render "form"  %>

<h2>Edit Checkpoints:</h2>
<% @checkpoints.each do |check| %>
    <%= check.course.name %><br />
    <%= check.goal_date %><br />

    <br /><br />
<% end %>
