<div class="card-display">
<% @roads.each do |road| %>
    <div class="road-card">
        
        <h2><%= road.name %></h2>
        <strong><%= road.checkpoints.count %> checkpoints</strong><br />
        <%= link_to "See the Road", road_path(road) %>
    </div>
    
<% end %>   
</div>
