<ul class="card-display">
<% @roads.each do |road| %>
    <li class="road-card">
        <div class="card-details">
        <h2><%= road.name %></h2>
        <div class="topic-holder">
            <% road.course_topics.each do |topic| %>
                <div class="topic"><%= topic %></div>
            <% end %>
        </div>
        <strong><%= road.checkpoints.count %> courses</strong>
        <%= link_to "Road Map", road_path(road), class: "btn" %>
        </div>
    </li>
    
<% end %>   
</ul>
