<ul class="card-display">
<% @roads.each do |road| %>
    <li class="road-card">
        <div class="card-details">
        <h2><%= road.name %></h2>
        <% road.course_topics.each do |topic| %>
            <div class="topic"><%= topic %></div>
            <% end %><br />
        <strong><%= road.checkpoints.count %> courses</strong><br />
        
        <br />
        <%= link_to "See the Road", road_path(road) %>
        </div>
    </li>
    
<% end %>   
</ul>
