/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 url('./brick_bg.png')
 #04724D - Dark Green
 #16DB65 - Light Green
 #FFD23F - Yellow
 #B80c09 - Red
 #01BAEF - Light Blue
 */
 body {margin: 0;}
nav, footer{
  background: #04724D; 
  height: 70px;
  width: 100%;
}
a {color: #04724D; font-weight:bold;}
  nav { position:fixed; top: 0; }
nav ul {text-align:right; margin: 0 auto; width:85%;}
nav ul li {display:inline-block; margin-right:25px; line-height:70px;}
nav a, footer input {color:white; text-decoration: none; font-family: 'Roboto Slab', arial, sans-serif;  font-size:20px; margin-bottom: 10px;}
nav a:hover{border-bottom: 1px solid white;}
div.field_with_errors input {border:1px solid red;}
html, body {
    height: 100%;
    margin: 0;
    font-family: arial;
  }
  h1, h2, h3, h4 {font-family: 'Roboto Slab', arial, sans-serif; }
  h2 {
    margin: 10px 0px;
   }
.content {
  min-height: 100%;
  background: rgb(237, 239, 240);
  margin-top:70px;
}
.page-content {
    padding: 50px 70px 70px;
    min-height: 500px;
    width: 75%;
    min-width: 300px;
    margin: auto;
    margin-bottom: 70px;   
    overflow:auto;
}
  .road-card { 
    float:left;
    display: block;
    width: 33.3%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .road-card .card-details {
    padding: 20px;
    box-sizing: border-box;
    min-height: 225px;
    background: #fff;
    border-top: 10px #FFD23F solid;
    box-shadow: 5px 5px 5px #ddd;
  }
  .road-card .card-details a {
    color: #04724D;
  }
  .topic {
    display: inline-block;
    color: white;
    background: #01BAEF;
    padding: 5px;
    margin: 5px;
    border-radius: 1px;
  }
.btn {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 16px;
  border: none;
  background-color: #16DB65;
  display: inline-block;
}
.green-btn {
  background-color:#04724D; 
}
.red-btn {
  background-color: #B80c09;
}
.edit-menu .button_to {
  display: inline-block;

}
#road-map {
  width: 60%;
  float:left;
}
#road-map ul#checkpoint-list {
  display: inline;
  list-style: none;
}
#checkpoint-list li {
  padding-bottom: 30px;
  border-bottom: 5px solid #ddd;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#checkpoint-list li:after {
  content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.check-details {
  flex-basis: 600px;
}
.check-status {
  display: flex;
}
.check-status input {
  width: 20px; 
  height: 20px;
}
.check-status form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-card {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #ddd;
  display: inline-block;
}

#next-checkpoint {
  width: 35%;
    margin-left: 5%;
}
footer {
    padding-top: 20px;
    padding-left: 20px
  }
footer input {
    color: white;
    border: none;
    background: none;
}