<% if logged_in? %>
<h2>Get Moving!</h2>
<%= link_to "Create a Road", new_road_path, class: "btn" %>
<%= link_to "Profile", user_path(current_user), class: "blue-btn btn" %>

<% else %>
<h3><%= link_to "Login", login_path %> or <%= link_to "Signup", signup_path %> to create your own road and start learning!</h3>
<% end %>